body {
 background: purple;
}
div {
 border: 2px solid yellow;
 border-radius: 8px;
}
div.knopka {
 background: gray;
 height: 50px;
 color: yellow;
 text-align: center;
}
p {
 font-size: 20px;
 margin: 15px;
}
