body {
 background: black url(wolf.jpeg) no-repeat;
 background-size: 100%;
}
a {
 text-decoration: none;
}
div {
 margin: 10px;
}
div.ready {
 background: green;
 opacity: 0.3;
}
div.notready {
 background: red;
 opacity: 0.3;
}
