body {
 background: black url(wolf.jpeg) no-repeat;
 background-size: 100%;
}
a {
 text-decoration: none;
}
div {
 color: yellow;
 margin: 10px;
 border: 2px solid yellow;
 border-radius: 5px;
 padding-left: 5px;
}
div:hover{
 color: yellow;
 margin: 10px;
 border: 2px solid white;
 border-radius: 5px;
 padding-left: 5px;
}
div.ready {
 background: green;
 opacity: 0.3;
}
div.notready {
 background: red;
 opacity: 0.3;
}
