body {
 background: #000000;
}
.knopka {
 width: 100px;
 height: 50px;
 margin: 20px;
 color: white;
 background: gray;
 border: 2px solid white;
 border-radius: 8px;
}
.knopka:hover {
 width: 100px;
 height: 50px;
 margin: 20px;
 color: yellow;
 background: gray;
 border: 2px solid yellow;
 border-radius: 8px;
}
