body {
 background: #000000;
}
.txtcenter {
 font-size: 20px;
 text-align: center;
 margin-top: 15px;
}
.knopka {
 width: 150px;
 height: 50px;
 margin: 20px;
 color: white;
 background: gray;
 border: 2px solid white;
 border-radius: 8px;
 cursor: pointer;
}
.knopka:hover {
 width: 150px;
 height: 50px;
 margin: 20px;
 color: yellow;
 background: gray;
 border: 2px solid yellow;
 border-radius: 8px;
}
.selctd {
 width: 150px;
 height: 50px;
 margin: 20px;
 color: red;
 background: gray;
 border: 2px solid red;
 border-radius: 8px;
 cursor: pointer;
}
pole {
 width: 46px;
 height: 46px;
 background: gray;
 border: 2px solid white;
 border-radius: 8px;
}
